<template name="input">
<div class="ui fluid form segment">
  <form name="mainInputForm" class="mainInputForm ui form">
    <div class="two fields">
      <div class="field">
        <label>Title</label>
        <input placeholder="Mark Name" name="titleInput" type="text">
      </div>
    </div>
    <div class="field">
      <label>Mark</label>
      <textarea name="mainInput"></textarea>
    </div>
    <div class="ui checked checkbox">
      <input type="checkbox" name="privateInput" checked="">
      <label>Make Mark Private</label>
    </div>
    <div class="field">
      <a class="ui teal tag label">
        <i class="plus icon"></i>Add Label
      </a>
    </div>

    <input class="ui submit button" type="submit" value="Submit">
  </form>
</div>


</template>
