<template name="single_footer">
  <div class="_tags">
    {{#if tags}}
      {{#each tags}}
        <a href="/marks/tags/{{slug}}" class="ui {{color}} label">#{{name}}
          {{pathFor route='tags.show'}}
          <i class="delete icon __tags_delete"></i>
        </a>
      {{/each}}
    {{/if}}
    <button class="tiny ui icon button __tags_add">
      <i class="plus icon"></i>
    </button>

    <div class="ui action input _new_tags">
      <input type="text" placeholder="Search...">
      <button class="ui icon button __tags_save">
        <i class="save icon"></i>
      </button>
    </div>


  </div>
</template>
