<template name="single">
  <div class="ui segment item {{#if editing}}editing{{/if}}">
    {{> single_header}}

    {{#if link}}
      <div class="text">
        <a href="{{text}}" target="_blank" class="text-content">{{text}}</a>
        <input type="text" class="text-edit-field" id="editField-{{_id}}" value="{{text}}">
      </div>
    {{else}}
      <div class="text">
        <div class="text-content">{{#markdown}}{{text}}{{/markdown}}</div>
        <textarea class="text-edit-field" id="editField-{{_id}}">{{text}}</textarea>
      </div>
    {{/if}}

    {{> single_footer}}
  </div>
</template>
