.wrapper {
  width: 60%;
  margin: 0 auto;
}

@media all and (min-width: 700px) {
  .wrapper {
    width: 80%;
  }
}

.item .text-edit-field {
  display: none;
}

.item.editing .text-edit-field {
  display: block;
}

.item.editing .text-content {
  display: none;
}

.item .actions {
  display: none;
}

.item.editing .actions, .item:hover .actions {
  display: inline-block;
}

textarea {
  width: 100%;
  height: 250px;
}


._tags {
  display: inline-block;
}

._tags input {
  display: none;
}

._tags.editingTags a {
  display: none;
}

._tags.editingTags input {
  display: block;
}
