.wrapper {
  width: 60%;
  margin: 0 auto;
}

.item .text-edit-field {
  display: none;
}

.item.editing .text-edit-field {
  display: block;
}

.item.editing .text-content {
  display: none;
}

.item .actions {
  display: none;
}

.item.editing .actions, .item:hover .actions {
  display: inline-block;
}
