.wrapper {
  width: 60%;
  margin: 0 auto;
}

@media all and (min-width: 700px) {
  .wrapper {
    width: 80%;
  }
}

.item .text-edit-field {
  display: none;
}

.item.editing .text-edit-field {
  display: block;
}

.item.editing .text-content {
  display: none;
}


/* ITEM HEADER */
.segment.item header .text-content {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}
.segment.item.editing header .text-content {
  display: none;
}
.segment.item.editing header .text-edit-field {
  display: inline-block;
}

.item .actions {
  text-align: right;
  transition: 0.3s background;
  background: none;
}

.item .actions ._hidden-actions {
  display: none;
}
.item .actions:hover {
  background: #AFAEAE;
  z-index: 999;
}
.item .actions:hover ._hidden-actions {
  display: block;
}

.item .actions ._hidden-actions .item {
  padding: 1em;
  transition: 0.3s background;
}
.item .actions ._hidden-actions .item:hover {
  background: white;
}

.item:hover ._tags .__tags_add {
  opacity: 1;
}


textarea {
  width: 100%;
  height: 250px;
}

/* ITEM BODY */
.text {
  padding: 1em 0 0;
  margin-bottom: 1rem;
}

._tags {
  ._new_tags {
    display: none;

    .ui.small.input {
      font-size: 0.82em;
    }
    .ui.action.input > .button {
      padding: .7em 0.571em 0.571em 0.571em;
    }
  }

  .__tags_add {
    opacity: 0;
    transition: opacity 300ms;
  }

  ._new_tags.adding {
    display: flex;
  }
}
