<template name="list">
  {{#if tags}}
    <div class="ui segment">
      {{#each tags}}
        <a class="ui {{color}} large label" href="/marks/tags/{{slug}}">
          {{name}}
          <div class="detail">{{count}}</div>
        </a>
      {{/each}}
    </div>
  {{/if}}

  <h5 class="ui top attached header">
    Marks: {{records.length}}
  </h5>
  <div class="ui attached segment">
    {{#if records}}
      {{#each records}}
        {{> single}}

        <div class="ui hidden divider"></div>
      {{/each}}
    {{else}}
      No Marks to Show, add some
    {{/if}}
  </div>
</template>
