<template name="input">
  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Create New Mark
    </div>
    <div class="content">
      <form name="mainInputForm" class="mainInputForm ui form">
        <div class="field">
          <label>Title</label>
          <input placeholder="Mark Name" name="titleInput" type="text">
        </div>
        <div class="field">
          <label>Mark</label>
          <textarea name="mainInput" placeholder="Markdown accepted here"></textarea>
        </div>

        <div class="field">
          <div class="ui checked checkbox">
            <input type="checkbox" name="privateInput" checked="">
            <label>Make Mark Private</label>
          </div>
        </div>

        <div class="field">
          <div class="ui fluid multiple search selection dropdown __tags">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Add Tags</div>
            <div class="menu">
              {{#each tags}}
                <div class="item" data-value="{{_id}}"><i class="{{color}} icon circle"></i>{{name}}</div>
              {{/each}}
            </div>
          </div>
        </div>

        <div class="field">
          <input class="ui submit primary button" type="submit" value="Create New Mark">
        </div>
      </form>
    </div>
  </div>

</template>
