<template name="tagsList">
  <h5 class="ui top attached header">
    Tags: {{tags.length}}
  </h5>
  <div class="ui attached segment">
    <div class="ui large middle aligned divided list">
      {{#each tags}}
        <div class="item">
          <i class="ui avatar circle {{color}} icon"></i>
          <div class="content">
            <div class="header">
              {{name}}
            </div>
            <div class="ui small breadcrumb">
              {{#each tagHierchy this}}
                <a class="section">{{this}}</a>
                <i class="right chevron icon divider"></i>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
