<template name="tagsList">
  <h5 class="ui top attached header">
    Tags: {{records.length}}
  </h5>
  <div class="ui attached segment">
    <div class="ui large middle aligned divided list">
      {{#each records}}
        <div class="item">
          <i class="ui avatar circle {{color}} icon"></i>
          <div class="content">
            <div class="header">
              {{name}}
            </div>
            <a href="/marks/tag/{{slug}}" class="description">/{{slug}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
