<template name="header">
  {{> loginButtons}}
  {{#if currentUser}}
  <div class="ui menu">
    <div class="header item">
      Markd
    </div>
    <a class="item {{isActiveRoute 'overview'}}" href="/">
      <i class="browser icon"></i> Overview
    </a>
    <a class="item {{isActiveRoute 'archive'}}" href="/marks/archive">
      <i class="archive icon"></i> Archive
    </a>
    <a class="item {{isActiveRoute 'tags'}}" href="/marks/tags">
      <i class="tags icon"></i> Tags
    </a>

    <div class="item __create">
      <div class="ui primary button">
        <i class="write icon"></i> New Mark
      </div>
    </div>

    <div class="right item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  {{/if}}
</template>
