<template name="single_header">
  <header class="ui top attached label {{#if editingTitle}}editingTitle{{/if}}">
    {{#if private}}
      <i class="privacy icon"></i>
    {{/if}}

    {{#if title}}
      <a href="/marks/{{_id}}"><span class="text-content">{{title}}</span></a>
    {{/if}}
    <div class="ui input">
      <input class="text-edit-field" id="editTitleField-{{_id}}" name="titleEdit" value="{{title}}" placeholder="enter a note title">
    </div>

    <div class="ui red label">
      <i class="clock icon"></i> {{displayDate}}
    </div>

    <div class="actions ui top right attached label">
      <a class="ui red label _more-actions">More Actions</a>
      <div class="ui divided list _hidden-actions">
        {{#unless inSingle}}
          <div class="item">
            <i class="dot circle outline icon"></i>
            <div class="content">
              <a href="/marks/{{_id}}" class="header">view</a>
            </div>
          </div>
        {{/unless}}
        <div class="item edit">
          <i class="write icon"></i>
          <div class="content">
            <a class="header">{{editingStatus}}</a>
          </div>
        </div>
        <div class="item remove">
          <i class="trash icon"></i>
          <div class="content">
            <a class="header">Remove</a>
          </div>
        </div>
        <div class="item archive">
          {{#if isArchived}}
          <i class="inbox icon"></i>
            <div class="content">
              <a class="header">Move to Inbox</a>
            </div>
          {{else}}
            <i class="archive icon"></i>
            <div class="content">
              <a class="header">Archive</a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</template>
